.bg-image {
  background-image: url('https://thumbs.dreamstime.com/b/wooden-table-food-top-view-cafe-102532611.jpg');
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white; /* Adjust if needed */
}


.header-title {
  text-transform: uppercase;
  letter-spacing: 16px;
  color: #fff;
  font-size: 80px;
  margin-bottom: 32px;
}

.search-box {
  padding-top: 100px !important;
  padding-bottom: 20px !important;
}

.search-heading {
  font-size: 30px;
  margin-bottom: 16px;
}

.detailsPageContent {
  padding-top: 100px !important
}

